In [1]:
!poetry install

Installing dependencies from lock file

Installing the current project: made (0.0.1)Installing the current project: made (0.0.1)

In [2]:
from project.config import settings
from os.path import join
import pandas as pd

In [3]:
from project.ETL import Extract,Load,Transform

extract =  Extract(settings.paths.data_path,settings.urls.values())
extract.download_datasets()
df = extract.load_csv_files()
df.keys()

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.4)
Downloaded dataset from syedabdulshameer/international-students-in-canada to /home/cip/ce/ix05ogym/Majid/MADE/data/
Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.4)
Downloaded dataset from webdevbadger/international-student-demographics to /home/cip/ce/ix05ogym/Majid/MADE/data/
All datasets downloaded.
Loaded origin into memory.
Loaded field_of_study into memory.
Loaded academic_detail into memory.
Loaded international_students_north_america into memory.
Loaded Internation_students_Canada into memory.
Loaded Internation_students_Province_Canada into memory.
Loaded source_of_fund into memory.
Loaded status into memory.
Loaded International_Students_Study_level into memory.
Loaded academic into memory.

dict_keys(['origin', 'field_of_study', 'academic_detail', 'international_students_north_america', 'Internation_students_Canada', 'Internation_students_Province_Canada', 'source_of_fund', 'status', 'International_Students_Study_level', 'academic'])

In [ ]:
transform = Transform(df)

merged_table = transform.transform(join(settings.paths.data_path ,"international_students_north_america.csv"))
merged_table.head()

Data transformation complete.

/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        95.0
1       115.0
2      1060.0
3         0.0
4        65.0
        ...
149    2980.0
150       0.0
151     175.0
152     120.0
153     335.0
Name: 2015_Canada, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')
/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       115.0
1       165.0
2       845.0
3         0.0
4        80.0
        ...
149    5495.0
150       0.0
151     210.0
152     125.0
153     500.0
Name: 2016_Canada, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')
/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         95.0
1        185.0
2       1020.0
3          0.0
4         40.0
        ...
149    10130.0
150        0.0
151      265.0
152      120.0
153      445.0
Name: 2017_Canada, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')
/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         80.0
1        245.0
2       1490.0
3          0.0
4         25.0
        ...
149    12700.0
150        0.0
151      275.0
152      125.0
153      440.0
Name: 2018_Canada, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')
/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         95.0
1        375.0
2       2690.0
3          0.0
4        120.0
        ...
149    12130.0
150        0.0
151      275.0
152      135.0
153      375.0
Name: 2019_Canada, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')
/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        90.0
1       250.0
2      2170.0
3         0.0
4        30.0
        ...
149    9990.0
150       0.0
151     260.0
152     105.0
153     345.0
Name: 2020_Canada, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')
/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        80.0
1       305.0
2      3165.0
3        10.0
4        50.0
        ...
149    9670.0
150       0.0
151     210.0
152     130.0
153     525.0
Name: 2021_Canada, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')
/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        170.0
1        345.0
2       5360.0
3          5.0
4         75.0
        ...
149    10365.0
150        0.0
151      170.0
152      170.0
153      700.0
Name: 2022_Canada, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')
/home/cip/ce/ix05ogym/Majid/MADE/project/ETL/transform.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        140.0
1        545.0
2       7180.0
3          0.0
4         65.0
        ...
149    10280.0
150        0.0
151      155.0
152      195.0
153      730.0
Name: 2023, Length: 154, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged_table.iloc[:, 1:] = merged_table.iloc[:, 1:].astype('float64')

Empty DataFrame
Columns: [origin, 2015_US, 2016_US, 2017_US, 2018_US, 2019_US, 2020_US, 2021_US, 2022_US, 2015_Canada, 2016_Canada, 2017_Canada, 2018_Canada, 2019_Canada, 2020_Canada, 2021_Canada, 2022_Canada]
Index: []

In [5]:
load = Load(join(settings.paths.data_path,'international_students_north_america.db'))
load.save_to_sqlite(join(settings.paths.data_path ,"international_students_north_america.csv"), 'international_students_north_america')

Data successfully saved to SQLite database at /home/cip/ce/ix05ogym/Majid/MADE/data/international_students_north_america.db in table 'international_students_north_america'.