In [2]:
import pandas as pd
import sqlalchemy as sql
import seaborn as sns
import matplotlib.pyplot as plt
import umap
import sklearn as sk
import kagglehub
import os

In [3]:

data_path= '/home/cip/ce/ix05ogym/Majid/MADE/data/'
urls = ["syedabdulshameer/international-students-in-canada",
        "webdevbadger/international-student-demographics"
]
for url in urls:
    path = kagglehub.dataset_download(url)
    os.system(f'cp -r {path}/* {data_path}')
    print("Path to dataset files:", path)
    os.listdir(path)

Path to dataset files: /home/cip/ce/ix05ogym/.cache/kagglehub/datasets/syedabdulshameer/international-students-in-canada/versions/2
Path to dataset files: /home/cip/ce/ix05ogym/.cache/kagglehub/datasets/webdevbadger/international-student-demographics/versions/2

Pipline:

extract and load -> preprocess & cleaning -> transform and type -> load into sql table

In [4]:
csv_names= os.listdir(data_path)
df ={}
for name in csv_names:
    name = name.split('.')
    extention = name[1]
    name = name[0]
    if extention != 'csv':
        continue
    
    print(name)
    df[name] = pd.read_csv(data_path+name+'.csv')
    display(df[name])

origin

,year,origin_region,origin,academic_type,students
0,2000/01,"Africa, Subsaharan","Africa, Subsaharan, Unspecified",Graduate,2
1,2000/01,"Africa, Subsaharan","Africa, Subsaharan, Unspecified",Other,0
2,2000/01,"Africa, Subsaharan","Africa, Subsaharan, Unspecified",Undergraduate,6
3,2000/01,Asia,"Asia, Unspecified",Graduate,0
4,2000/01,Asia,"Asia, Unspecified",Other,6
...,...,...,...,...,...
20406,2022/23,West Africa,Togo,Undergraduate,95
20407,2022/23,West Africa,"West Africa, Unspecified",Graduate,0
20408,2022/23,West Africa,"West Africa, Unspecified",Non-Degree,0
20409,2022/23,West Africa,"West Africa, Unspecified",OPT,0
20410,2022/23,West Africa,"West Africa, Unspecified",Undergraduate,0

field_of_study

,year,field_of_study,major,students
0,1998/99,Agriculture,Agriculture,6146.0
1,1998/99,Agriculture,Natural Resources and Conservation,1803.0
2,1998/99,Business and Management,Business and Management,101360.0
3,1998/99,Communications and Journalism,"Communication, Journalism",9473.0
4,1998/99,Communications and Journalism,Communications Technologies/Technicians,1761.0
...,...,...,...,...
1070,2022/23,Social Sciences,History,2551.0
1071,2022/23,Social Sciences,Psychology,18474.0
1072,2022/23,Social Sciences,Public Administration and Social Service Profe...,8483.0
1073,2022/23,Social Sciences,Social Sciences,53998.0
1074,2022/23,Undeclared,Undeclared,17910.0

academic_detail

        year  academic_type                 academic_level  students
0    1999/00  Undergraduate                    Associate's     59830
1    1999/00  Undergraduate                     Bachelor's    177381
2    1999/00       Graduate                       Master's    110857
3    1999/00       Graduate                       Doctoral     72928
4    1999/00       Graduate                   Professional      9475
..       ...            ...                            ...       ...
211  2022/23       Graduate                   Professional     17926
212  2022/23       Graduate          Graduate, Unspecified     12877
213  2022/23     Non-Degree  Non-Degree, Intensive English     10801
214  2022/23     Non-Degree              Non-Degree, Other     32965
215  2022/23            OPT                            OPT    198793

[216 rows x 4 columns]

Internation_students_Canada

,Country of Citizenship,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,95,115,95,80,95,90,80,170,140
1,Albania,115,165,185,245,375,250,305,345,545
2,Algeria,1060,845,1020,1490,2690,2170,3165,5360,7180
3,Andorra,0,0,0,0,0,0,10,5,0
4,Angola,65,80,40,25,120,30,50,75,65
...,...,...,...,...,...,...,...,...,...,...
212,"Virgin Islands, British",0,0,0,0,0,0,0,0,0
213,Western Sahara,0,0,0,0,0,0,0,0,0
214,Yemen,175,210,265,275,275,260,210,170,155
215,Zambia,120,125,120,125,135,105,130,170,195
216,Zimbabwe,335,500,445,440,375,345,525,700,730

Internation_students_Province_Canada

,Province/territory,Sex,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Newfoundland and Labrador,Female,570,745,865,900,"1,050",530,"1,270","1,600","1,535"
1,Newfoundland and Labrador,Male,"1,075","1,240","1,370","1,400","1,565",850,"2,025","2,290","2,205"
2,Newfoundland and Labrador,Another gender,0,0,0,0,0,0,0,0,0
3,Prince Edward Island,Female,425,525,670,765,885,615,905,"1,120","1,360"
4,Prince Edward Island,Male,485,650,780,"1,090","1,010",680,985,"1,280","1,435"
5,Prince Edward Island,Gender not stated,0,0,0,0,0,0,0,0,0
6,Nova Scotia,Female,"2,715","3,185","3,500","4,445","4,605","2,315","4,405","6,235","6,905"
7,Nova Scotia,Male,"3,535","3,840","4,270","5,445","5,740","2,705","5,550","6,880","7,405"
8,Nova Scotia,Another gender,0,0,0,0,0,0,0,0,0
9,Nova Scotia,Gender not stated,0,0,0,0,0,0,0,0,0
10,New Brunswick,Female,880,"1,070","1,150","1,550","1,820",945,"2,655","3,535","4,480"
11,New Brunswick,Male,"1,440","1,550","1,760","2,180","2,545","1,320","3,270","4,105","5,315"
12,New Brunswick,Another gender,0,0,0,0,0,0,0,0,0
13,New Brunswick,Gender not stated,0,0,0,0,0,0,0,0,0
14,Quebec,Female,"13,605","15,180","17,645","19,855","25,060","18,570","28,805","28,900","31,285"
15,Quebec,Male,"16,600","18,215","20,315","24,130","32,010","23,785","34,650","33,730","37,690"
16,Quebec,Another gender,0,0,0,0,0,0,0,5,20
17,Quebec,Gender not stated,0,0,0,0,0,0,0,0,5
18,Ontario,Female,"42,625","55,170","69,545","79,540","91,755","56,295","101,065","134,545","139,720"
19,Ontario,Male,"53,460","68,625","85,860","94,620","106,410","63,285","118,570","155,325","161,000"
20,Ontario,Another gender,0,0,10,5,5,0,35,30,20
21,Ontario,Gender not stated,0,0,0,0,5,0,0,5,5
22,Manitoba,Female,"2,845","3,550","4,450","5,175","5,360","3,695","5,955","6,960","7,915"
23,Manitoba,Male,"4,085","5,025","6,000","6,810","6,665","4,685","6,635","7,820","8,825"
24,Manitoba,Another gender,0,0,0,0,0,0,0,0,0
25,Manitoba,Gender not stated,0,0,0,0,0,0,0,0,0
26,Saskatchewan,Female,"1,640","1,750","1,845","2,220","2,465","1,465","2,720","3,680","4,550"
27,Saskatchewan,Male,"2,265","2,585","2,670","3,540","3,785","2,015","3,675","4,740","5,495"
28,Saskatchewan,Another gender,0,0,0,0,0,0,0,0,0
29,Alberta,Female,"6,905","7,860","7,975","8,935","9,815","6,130","11,360","14,110","17,195"
30,Alberta,Male,"7,640","8,340","8,650","9,795","10,620","6,685","12,365","14,430","17,730"
31,Alberta,Another gender,0,0,0,0,0,0,0,0,0
32,Alberta,Gender not stated,0,0,0,0,0,0,0,0,0
33,British Columbia,Female,"27,490","32,615","37,975","40,590","43,110","29,510","48,510","57,835","54,910"
34,British Columbia,Male,"29,260","33,030","38,400","41,025","42,960","29,490","45,490","52,500","53,610"
35,British Columbia,Another gender,0,0,0,0,0,0,0,10,10
36,British Columbia,Gender not stated,0,0,0,0,0,0,0,0,0
37,Yukon,Female,20,35,80,40,65,55,95,80,105
38,Yukon,Male,15,25,115,35,70,60,105,80,120
39,Northwest Territories,Female,5,10,15,15,15,10,15,20,20
40,Northwest Territories,Male,15,10,10,10,15,10,15,15,25
41,Nunavut,Female,0,0,0,0,5,0,5,0,5
42,Nunavut,Male,0,0,0,0,0,0,0,0,0
43,Province/territory not stated Total,NaN,40,125,100,960,"1,850",635,"3,495","7,830","8,925"

source_of_fund

,year,academic_type,source_type,source_of_fund,students
0,1999/00,Undergraduate,International,Personal and Family,201578
1,1999/00,Undergraduate,International,Foreign Government or University,9742
2,1999/00,Undergraduate,International,Foreign Private Sponsor,6245
3,1999/00,Undergraduate,International,International Organization,749
4,1999/00,Undergraduate,U.S.,Current Employment,749
...,...,...,...,...,...
796,2022/23,OPT,U.S.,Current Employment,198793
797,2022/23,OPT,U.S.,U.S. College or University,0
798,2022/23,OPT,U.S.,U.S. Government,0
799,2022/23,OPT,U.S.,U.S. Private Sponsor,0
800,2022/23,OPT,Other,Other Sources,0

status

,year,female,male,single,married,full_time,part_time,visa_f,visa_j,visa_other
0,2007/08,278841.0,344964.0,543958.0,79847.0,575772.0,48033.0,552691.0,31814.0,39300.0
1,2008/09,304242.0,367374.0,591694.0,79922.0,613185.0,58431.0,589007.0,39625.0,42984.0
2,2009/10,309534.0,381389.0,615612.0,75311.0,637722.0,53201.0,612158.0,38692.0,40073.0
3,2010/11,322582.0,400695.0,653842.0,69435.0,669031.0,54246.0,645163.0,40504.0,37610.0
4,2011/12,338671.0,425824.0,690339.0,74156.0,714038.0,50457.0,688810.0,42047.0,33638.0
5,2012/13,363922.0,455722.0,744237.0,75407.0,769646.0,49998.0,747515.0,42621.0,29508.0
6,2013/14,390749.0,495303.0,806307.0,79745.0,829345.0,56707.0,804535.0,49619.0,31898.0
7,2014/15,426043.0,548883.0,886208.0,88718.0,912531.0,62395.0,881333.0,58496.0,35097.0
8,2015/16,451982.0,591857.0,950937.0,92902.0,971814.0,72025.0,957200.0,52192.0,34447.0
9,2016/17,470366.0,608456.0,970940.0,107882.0,1007620.0,71202.0,994674.0,45311.0,38837.0
10,2017/18,477329.0,617463.0,999545.0,95247.0,1028010.0,66782.0,1015967.0,44886.0,33939.0
11,2018/19,480836.0,614463.0,1002199.0,93100.0,1030676.0,64623.0,1018628.0,44907.0,31764.0
12,2019/20,477520.0,597976.0,987305.0,88191.0,1016344.0,59152.0,1000211.0,44095.0,31190.0
13,2020/21,407686.0,506409.0,827256.0,86839.0,843710.0,70385.0,860163.0,16454.0,37478.0
14,2021/22,428731.0,519788.0,861255.0,87264.0,884020.0,64499.0,884020.0,27507.0,36992.0
15,2022/23,473620.0,583568.0,966270.0,90918.0,986356.0,70832.0,989528.0,34887.0,32773.0

International_Students_Study_level

,Province/Territory,study level,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Newfoundland and Labrador,Secondary or less,180,310,335,330,375,175,525,840,850
1,Newfoundland and Labrador,Post Secondary,1375,1595,1760,1835,2135,1180,2735,3010,3220
2,Newfoundland and Labrador,Other Studies,90,85,150,145,115,35,40,50,75
3,Newfoundland and Labrador,Education level not stated,0,0,0,0,0,0,0,0,0
4,Prince Edward Island,Secondary or less,175,205,270,450,400,290,475,590,750
5,Prince Edward Island,Post Secondary,500,760,905,1060,1260,735,1215,1600,1860
6,Prince Edward Island,Other Studies,235,215,280,370,240,270,205,225,480
7,Prince Edward Island,Education level not stated,0,0,0,0,0,0,0,0,0
8,Nova Scotia,Secondary or less,1215,1425,1580,1645,1755,990,1445,2495,3755
9,Nova Scotia,Post Secondary,4215,4840,5070,6795,7215,3710,7775,9715,11520
10,Nova Scotia,Other Studies,865,805,1215,1580,1445,375,785,955,810
11,Nova Scotia,Education level not stated,0,0,5,0,10,0,0,0,10
12,New Brunswick,Secondary or less,415,570,725,925,1010,515,1460,1995,2955
13,New Brunswick,Post Secondary,1785,1815,1945,2410,3150,1650,4295,5525,7765
14,New Brunswick,Other Studies,125,240,245,400,210,105,170,135,205
15,New Brunswick,Education level not stated,0,0,0,0,0,0,0,0,5
16,Quebec,Secondary or less,2530,2975,3570,3960,5410,3695,6040,6750,9980
17,Quebec,Post Secondary,24555,26540,29515,34585,44885,33255,51420,49895,59720
18,Quebec,Other Studies,3250,4045,5100,5610,6955,5625,6230,6255,8475
19,Quebec,Education level not stated,25,15,15,20,15,15,10,10,15
20,Ontario,Secondary or less,21310,24900,29215,30730,33000,20800,24405,31545,45350
21,Ontario,Post Secondary,64090,85970,107750,122975,146570,93170,180575,238590,295590
22,Ontario,Other Studies,11940,14390,20630,22635,20555,7325,16275,21565,23570
23,Ontario,Education level not stated,55,50,55,60,60,40,60,80,100
24,Manitoba,Secondary or less,1045,1235,1495,1510,1670,1230,2315,3050,4450
25,Manitoba,Post Secondary,5210,6390,7715,9145,9420,6690,9395,10760,13775
26,Manitoba,Other Studies,730,1000,1355,1440,1040,540,970,1090,1090
27,Manitoba,Education level not stated,5,0,0,5,0,0,5,0,5
28,Saskatchewan,Secondary or less,965,995,915,900,1090,845,1320,1940,2880
29,Saskatchewan,Post Secondary,2705,3085,3195,4230,4675,2520,4835,6155,8760
30,Saskatchewan,Other Studies,265,270,430,655,500,130,255,340,455
31,Saskatchewan,Education level not stated,0,5,0,0,0,0,0,5,15
32,Alberta,Secondary or less,4135,3925,3895,3965,4610,3225,4870,7225,11860
33,Alberta,Post Secondary,8705,10390,10890,12925,14215,8880,17755,20125,28635
34,Alberta,Other Studies,1855,2065,1960,1955,1715,825,1175,1285,1580
35,Alberta,Education level not stated,10,10,5,5,25,0,10,5,20
36,British Columbia,Secondary or less,17365,19325,20135,19690,20130,13365,20895,24095,27710
37,British Columbia,Post Secondary,30260,37495,46030,51615,56780,42365,65495,77975,91835
38,British Columbia,Other Studies,9815,9620,11145,11245,10000,3865,8330,9200,7905
39,British Columbia,Education level not stated,50,40,35,35,35,25,65,35,45
40,Yukon,Secondary or less,0,10,15,20,35,35,80,85,140
41,Yukon,Post Secondary,25,35,170,55,85,75,115,75,110
42,Yukon,Other Studies,10,10,10,0,10,0,0,0,5
43,Yukon,Education level not stated,0,0,0,0,0,0,0,0,0
44,Northwest Territories,Secondary or less,15,20,20,20,25,15,20,30,35
45,Northwest Territories,Post Secondary,5,0,0,0,0,5,10,10,10
46,Northwest Territories,Other Studies,0,0,0,0,0,0,0,0,0
47,Nunavut,Secondary or less,0,0,0,0,0,0,0,0,0
48,Nunavut,Post Secondary,0,0,0,0,0,0,0,0,5
49,Nunavut,Other Studies,0,0,0,0,0,0,0,0,0

academic

,year,students,us_students,undergraduate,graduate,non_degree,opt
0,1948/49,25464,2403400.0,NaN,NaN,NaN,NaN
1,1949/50,26433,2445000.0,NaN,NaN,NaN,NaN
2,1950/51,29813,2281000.0,NaN,NaN,NaN,NaN
3,1951/52,30462,2102000.0,NaN,NaN,NaN,NaN
4,1952/53,33675,2134000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
70,2018/19,1095299,19828000.0,431930.0,377943.0,62341.0,223085.0
71,2019/20,1075496,19720000.0,419321.0,374435.0,58201.0,223539.0
72,2020/21,914095,19744000.0,359787.0,329272.0,21151.0,203885.0
73,2021/22,948519,20327000.0,344532.0,385097.0,34131.0,184759.0
74,2022/23,1057188,18961280.0,347602.0,467027.0,43766.0,198793.0

In [14]:
df['Internation_students_Canada']

,Country of Citizenship,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,95,115,95,80,95,90,80,170,140
1,Albania,115,165,185,245,375,250,305,345,545
2,Algeria,1060,845,1020,1490,2690,2170,3165,5360,7180
3,Andorra,0,0,0,0,0,0,10,5,0
4,Angola,65,80,40,25,120,30,50,75,65
...,...,...,...,...,...,...,...,...,...,...
212,"Virgin Islands, British",0,0,0,0,0,0,0,0,0
213,Western Sahara,0,0,0,0,0,0,0,0,0
214,Yemen,175,210,265,275,275,260,210,170,155
215,Zambia,120,125,120,125,135,105,130,170,195
216,Zimbabwe,335,500,445,440,375,345,525,700,730

In [13]:
#df['Internation_students_Canada']
df['origin'][df['origin']['origin']=='Afghanistan']

          year           origin_region       origin  academic_type  students
537    2000/01  South and Central Asia  Afghanistan       Graduate        11
538    2000/01  South and Central Asia  Afghanistan          Other         7
539    2000/01  South and Central Asia  Afghanistan  Undergraduate        57
1251   2001/02  South and Central Asia  Afghanistan       Graduate        13
1252   2001/02  South and Central Asia  Afghanistan          Other         4
...        ...                     ...          ...            ...       ...
19208  2021/22  South and Central Asia  Afghanistan  Undergraduate       140
20171  2022/23  South and Central Asia  Afghanistan       Graduate       325
20172  2022/23  South and Central Asia  Afghanistan     Non-Degree        61
20173  2022/23  South and Central Asia  Afghanistan            OPT        44
20174  2022/23  South and Central Asia  Afghanistan  Undergraduate       252

[86 rows x 5 columns]